fastapi
pydantic
openai
python-dotenv
requests
passlib
bcrypt==4.0.1
python-jose
sqlalchemy
uvicorn
psycopg2-binary
asyncpg
python-multipart
authlib
httpx
supabase
slowapi
PyPDF2
pypdf
python-docx
itsdangerous
email-validator
